@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    <br /><br />
    <!-- Isto é uma linha de comentário, e o cliente ou o browser ver poder ver esta linha de comentário-->
    @* E, isto é uma linha de comentário no RAZOR e não vai no browser esta linha de comentário 
        - Usado para aoenas o progrmador ver*@

    <!-- CALCULADORA -->
<form>
    <table>
        <tr>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="" value="" />
            </td>
            <td>
                <input type="submit" name="" value="" />
            </td>

        </tr>
    </table>
</form>

</div>
